  <div class="main-content">
    <div class="main-content__title">
      <span class="num"><%=index + 1%></span>
      <span class="name"><%=message.author%></span><span
        class="created_at"><%=message.created_at.strftime("%Y/%m/%d %H:%M")%></span><span
        class="ID">ID:<%=message.autho_id%></span><span><i class="fas fa-cog"></i></span>
    </div>
    <%if message.responce != 0%>
    <div class="main-content__resID">
      <%=message.responce%>
    </div>
    <%end%>
    <div class="main-content__text">
      <%=simple_format message.content%>
    </div>
  </div>
