<div class="room_index">
  <%@rooms.each do |room|%>
  <%=render partial: "rooms", locals: {room: room}%>
  <%end%>
  <div class="media">
    <div class="media-body">
      <a href="/rooms/1">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42<i class="fas fa-cog"></i></div>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <a href="/rooms/1">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42<i class="fas fa-cog"></i></div>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <a href="/rooms/1">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42<i class="fas fa-cog"></i></div>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <a href="/rooms/1">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42<i class="fas fa-cog"></i></div>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <a href="/rooms/1">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42<i class="fas fa-cog"></i></div>
    </div>
  </div>
  <div class="res_form">
    <%=form_for @room do |f|%>
    <div class="main-form">
      <div class="main-form__name">
        <%=f.text_field :title, placeholder: "スレタイトル"%>
      </div>
      <div class="main-form__password">
        <%=f.text_field :password, placeholder: "パスワード(必須、スレ削除、編集に使用)"%>
      </div>
      <div class="main-form__text">

        <%=f.text_area :first_message, rows: "6", placeholder: "1コメ"%>
        <div>

          <div>
            <%= f.submit "作成する", class: "btn btn-secondary"%>
          </div>
          <%end%>
        </div>
      </div>
