<div class="room_show">
  <div class="title">
    <h3><%=@room.title%></h3>
  </div>
  <%@messages.each_with_index do |message,index|%>
  <%=render partial: "messages", locals: {message: message,index: index}%>
  <%end%>


  <div class="res_form">
    <%=form_for @message do |f|%>
    <div class="title">
      レスを投稿する
    </div>
    <div class="main-form">
      <div class="main-form__name">
        <%=f.text_field :author, placeholder: "名前",id: "submit_name"%>
      </div>
      <div class="main-form__password">
        <%=f.text_field :password, placeholder: "パスワード(必須、レス削除、編集に使用)",id: "submit_password"%>
      </div>
      <div class="main-form__text">
        <%=f.text_area :content, rows: "6", placeholder: "投稿内容",id: "submit_content"%>
      </div>
      <%= f.submit "投稿する", class: "btn btn-secondary",id: "submit_button"%>
    </div>
    <%=f.text_field :room_id, type: "hidden",value: @room.id%>
    <%end%>

  </div>

</div>
